#searchBarDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}

table {
    font-size: 16px;
    color: black;
    text-align: center;
    margin-top: 20px;
    vertical-align: middle;
    border-color: #083477;
}

.rbc-event {
    background-color: #8493E3 !important;
}

.rbc-toolbar button {
    display: inline-block;
}

@media only screen and (max-width: 375px) {
    .rbc-toolbar button {
        display: flex;
    }
}