Navbar {
  background-color: #010059;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  /* overflow: hidden; */
  background-color: #010059;
  color: #FFFFFF;
  /* width: 100%;
  margin: 0 0 1em 0; */
}

Nav {
  color: white;
  height: 70px;
}

.topnav img {
  float: left;
  display: block;
  padding: 14px 16px;
  height: 65px;
  width: 100px;
}

.dropdown-menu.show {
  left: -50px !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255) !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

@media screen and (max-width: 600px) {
  Nav {
    height: 100%;
  }
}

