.image {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
}

@media only screen and (max-width: 420px) {
    .image {
        height: 80px;
        width: 80px;
    }
}

@media only screen and (max-width: 320px) {
    .image {
        height: 70px;
        width: 70px;
    }
}

