.card {
    border: 1px solid gray !important;
    margin: 10px;
    margin-right: 18px;
    margin-left: 18px;
}

.image {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
}

.ReactModal__Content.ReactModal__Content--after-open {
    border-radius: 20px !important;
    border: 1px solid #083477 !important;
}

@media only screen and (max-width: 768px) {
    select, textarea {
        -webkit-appearance: none;
    }

    select {
        width: 100%;
    }
}

@media only screen and (max-width: 420px) {
    .image {
        height: 80px;
        width: 80px;
    }
}

@media only screen and (max-width: 320px) {
    .image {
        height: 70px;
        width: 70px;
    }
}

