#mySidenav a {
    position: absolute;
    right: -145px;
    transition: 0.3s;
    padding: 15px;
    width: 180px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-radius: 5px 0px 0px 5px;
}
/* 
@media (min-width: 768px) {
    #mySidenav a {
        right: -130px;
    }
} */


#mySidenav a:hover {
    right: 0;
}

#addEvent {
    top: 220px;
    background-color: #4CAF50;
}

#editProfile {
    top: 280px;
    background-color: #555;
    color: black;
}

#bidSocietyBooth {
    top: 340px;
    background-color: rgb(255, 0, 64)
}

#submitProposal {
    top: 400px;
    background-color: darksalmon;
}

#manageMember {
    top: 460px;
    background-color: rgba(143, 0, 238, 0.815)
}