table {
    font-size: 16px;
    color: black;
    text-align: center;
    margin-top: 20px;
    vertical-align: middle;
    border-color: #083477;
}

table thead {
    background-color: #083477;
    color: white;
}

#tableContainer {
    vertical-align: middle;
    height: 100%;
}

td {
    text-align: left;
}