#table1 { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  #table1 tr:nth-of-type(odd) { 
    background: #eee; 
  }
  #table1 th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  #table1 td, #table1 th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }

  @media 
only screen and (max-width: 760px),
(min-width: 768px) and (max-width: 1024px)  {

	/* Force table to not be like tables anymore */
	#table1, #table1 thead, #table1 tbody, #table1 th, #table1 td, #table1 tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	#table1 thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	#table1 tr { border: 1px solid #ccc; }
	
	#table1 td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	#table1 td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	#table1 td:nth-of-type(1):before { content: "No."; }
	#table1 td:nth-of-type(2):before { content: "Name"; }
	#table1 td:nth-of-type(3):before { content: "IC Number"; }
	#table1 td:nth-of-type(4):before { content: "Course"; }
	#table1 td:nth-of-type(5):before { content: "Year and Sem?"; }
	#table1 td:nth-of-type(6):before { content: "Phone Number"; }
	#table1 td:nth-of-type(7):before { content: "Email Address"; }
	#table1 td:nth-of-type(8):before { content: "Action"; }
}